* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: #D3C5C0;
  font-family: sans-serif;
}

.titulo-principal {
  margin-top: 10%;
  margin-bottom: 1%;
}

.titulo {
  text-align: center;
}

form {
  text-align-last: center;
  height: 10%;
}

.acessar {
  border: none;
  background-color: #151313;
  padding: 8px;
  width: 70px;
  color: #ffffff;
  border-radius: 10%;
}
